.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-top-color: var(--color-primary);
  animation: spin 1s ease-in-out infinite;
}

.small .circle {
  width: 20px;
  height: 20px;
  border-width: 2px;
}

.medium .circle {
  width: 40px;
  height: 40px;
  border-width: 3px;
}

.large .circle {
  width: 60px;
  height: 60px;
  border-width: 4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
